body {
    background-color: #34495E;
    font-family: Verdana;
}

h1 {
    font-size: 25px;
    color: white;
}

table {
    line-height: 25px;
    border-collapse: collapse;
}

.PersonName {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.PersonPictire {
    background-color: #E74C3C;
    width: 150px;
}

.PersonInfo {
    background-color: #E74C3C;
    width: 300px;
}

span {
    color: white;
    font-weight: bold;
}

.PersonDetails {
    color: #F1C40F;
    font-weight: normal;
}

.toAddWidthBetweenPersons {
    width: 100px;
}