@font-face {
       font-family: "Custom font";
       src: url("../Fonts/DINLight.ttf");
       font-weight: 300;
}

@font-face {
       font-family: "Custom font";
       src: url("../Fonts/D-DIN.woff2");
       font-weight: 400;
}

@font-face {
       font-family: "Custom font";
       src: url("../Fonts/D-DIN-Bold.woff2");
       font-weight: 600;
}


body {
       margin: 0;
       background-color: #000000;
       background-image: url("../Images and videos/f9_feature.webp");
       background-repeat: no-repeat;
       background-size: 100%;
}

/* Header styling */
header {
       height: 100px;
}

#HeaderMainNavigation {
       float: left;
       margin-top: 30px;
       padding-left: 15%;
       font-family: "Custom font";
       font-weight: 600;
       font-size: 14px;
}

#HeaderMainNavigation img {
       width: 210px;
       margin-right: 20px;
}

#HeaderMainNavigation a {
       width: 210px;
       margin-right: 20px;
       color: #FFFFFF;
}

#HeaderAddNavigation {
       float: right;
       padding-right: 50px;
       margin-top: 40px;
       font-family: "Custom font";
       font-weight: 600;
       font-size: 14px;
}

#HeaderAddNavigation img {
       width: 20px;
       margin-left: 20px;
}

#HeaderAddNavigation a {
       color: #FFFFFF;
}

/* Initial titles styling */
#InitialTitles {
       color: #FFFFFF;
       font-family: "Custom font";
       text-align: center;
       font-weight: 600;
}

#InitialTitles h1 {
       font-size: 100px;
       margin-top: 250px;
}

#InitialTitles h2 {
       font-family: "Custom font";
       font-weight: 400;
       font-size: 20px;
       margin-top: -50px;
}

/* Initial statistics styling */

#InitialStats table {
       color: #FFFFFF;
       text-align: center;
       padding: 0 400px;
       width: 100%;
       margin-top: 400px;
}

#InitialStats table th {
       font-family: "Custom font";
       font-weight: 300;
       font-size: 140px;
}

#InitialStats table td {
       font-family: "Custom font";
       font-weight: 400;
       font-size: 22px;
}

#InitialStatsImage {
       width: 100%;
       position: absolute;
       margin-top: 50px;
}

#InitialStats p {
       color: #FFFFFF;
       position: relative;
       margin-top: 17%;
       padding: 0 200px;
       width: 30%;
       font-family: "Custom font";
       font-weight: 400;
       font-size: 20px;
       line-height: 40px;
}


/* Info cards styling */
#InfoCards {
       margin-top: 500px;
}