@font-face {
       font-family: "Custom font";
       src: url("../Fonts/DINLight.ttf");
       font-weight: 300;
}

@font-face {
       font-family: "Custom font";
       src: url("../Fonts/D-DIN.woff2");
       font-weight: 400;
}

@font-face {
       font-family: "Custom font";
       src: url("../Fonts/D-DIN-Bold.woff2");
       font-weight: 600;
}

body {
       background-image: url("../Images and videos/white falcon.webp");
       background-size: 100%;
       background-repeat: no-repeat;
       color: #FFFFFF;
}

h1 {
       font-family: "Custom font";
       font-weight: 400;
       font-size: 20px;
       position: relative;
       padding-top: 150px;
       padding-left: 190px;
}

h2 {
       font-family: "Custom font";
       font-weight: 600;
       font-size: 48px;
       position: relative;
       padding-top: 10px;
       padding-left: 190px;
}

table {
       width: 600px;
       line-height: 50px;
       border-collapse: collapse;
       margin-left: 190px;
       margin-top: 50px;
}

table td {
       border-bottom: 1px #868686 solid;
}

.RocketProperty {
       font-family: "Custom font";
       font-weight: 600;
       font-size: 14px;
}

.RocketPropertyValue {
       text-align: right;
       font-family: "Custom font";
       font-weight: 400;
       font-size: 16px;
}

.PropertySecondaryValue {
       color: #868686;
}