body {
     background-color: #34495e;
     margin: 0;
     font-family: "Verdana";
}

header {
     width: 100%;
     height: 100px;
     position: sticky;
     top: 0;
}

iframe {
       width: 100%;
       height: 100px;
}

main {
     background-color: white;
     margin-left: 200px;
     margin-right: 200px;
     padding-left: 100px;
     padding-right: 100px;
     padding-bottom: 50px;
}

#index_bread {
     padding-top: 50px;
}


.mainarticle {
     width: 50%;
}

#articleimage1 {
     position: relative;
     width: 600px;
     left: 700px;
     bottom: 800px;

}